@import url('https://fonts.googleapis.com/css?family=Vollkorn:700');

p{
    font-size: 14px;
}

body{
    text-align:center;
    margin: 0 auto;
    width: 100%;
}
h5{
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bolder;
}
h6{
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    padding: 6px 0px;
}

ul li{
    list-style: none;
}

/* リンク */
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clearfix{
    clear: both;
}

.left__float{
    float: left;
}
.right_float{
    float: right;
}

.left_sentence{
    float: left;
    width: 50%;
    margin-top: 70px;
}
.right_sentence{
    float: right;
    width: 50%;
    margin-top: 70px;
}
.right_sentence_image{
    float: right;
    margin-top: 70px;
}

.sub_left_sentence{
    float: left;
    width: 27%;
    margin-top: 70px;
}
.sub_right_sentence{
    float: right;
    width: 27%;
    margin-top: 70px;
}
.globalNavi_head_top{
    background-color: #F6F6F6;
}

.globalNavi_head_width{
    width: 1200px;
    margin: 0 auto;
}

.globalNavi_head{
    float: left;
    padding: 10px 80px;
    padding-right: 80px;
    margin: 0 auto;
    font-size: 13px;
}

.globalNavi ul{
    padding-top: 10px;
    margin: 0 auto;
    font-size: 13px;
    color: #676767;
}
.globalNavi ul::after{
    content: "";
    clear: both;
    display: block;
}
.globalNavi ul li{
    float: left;
    border-right: solid 1px rgb(3, 3, 3);
    padding: 0 14px;
    margin: 0;
}
.globalNavi ul li.list__right_solid{
    border-right: none;
}

.globalNavi ul li.list__right_login{
    border-right: none;
    margin: 0;
    padding: 0;
}

.globalNavi ul li:last-child{
    margin-bottom:10px; 
    background-image: url("/images/n-33.png");
    background-position: 0 8px;
    background-repeat: no-repeat;
    list-style-type: none;
}
.globalNavi ul li:last-child::before{
   
    /* content: url("../../images/n-33.png"); */
   
    margin: 0;
    padding: 0;

}


.globalNavi_n_about ul li{
    float: left;
    border-right: solid 1px rgb(3, 3, 3);
    padding: 0 14px;
}

.globalNavi_botom ul li{
    float: left;
    border-right: solid 1px rgb(3, 3, 3);
    padding: 0 14px;
}

/* 教育方針 */
.main_contents{
    border-top: solid 1px;
    padding: 0;
}
.main_thema{
    text-align: left;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: solid 2px;
    width: 280px;
}
.main_thema__p{
    text-align: left;
    font-size: 26px;
    border-right: solid 1px;
    float: left;
    padding: 20px 0;
    padding-right: 20px;
    margin: 10px 0;
}
.main_thema__description{
    text-align: left;
    font-size: 22px;
    float: left;
    padding: 0;
    margin: 30px 10px;
}

/* n_standards */
.n_standards{
    padding: 30px 40px;
    background-color: #ddd;
    border: solid 1px;
    width: 620px;
    margin: 80px auto;
    display: flex;
}
.n_standards__p{
    text-align: left;
    float: left;
    letter-spacing: 0.06em;
    padding: 0px;
    padding-left: 16px;
}
.n_standards__thema{
    text-align: left;
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
}
.n_standards__text{
    text-align: justify;
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
    line-height: 1.7;
}
.n_standards__readmore{
    text-align: left;
    font-size: 18px;
    padding: 10px 0;
    margin: 0;
}

.sub_thema{
    font-size: 28px;
    text-align: left;
    margin: 10px 0;
}
/* N高の魅力 */
.n_charm__text{
    text-align: justify;
    font-size: 16px;
    margin-right: 45px;
    margin-top: 40px;
    padding-top: 10px;
    line-height: 1.7;
    border-top: solid 1px;
}
.description__text{
    font-size: 13px;
    text-align: left;
    margin: 0;
    padding-top: 5px;
}

/* 高卒資格取得のためのBasic Program */
.main_contents_basic{
    background-color: #F6F6F6;
    padding-top: 30px;
    margin-top: 110px;
}   
.basic_text{
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
}
.basic_program{
    font-size: 11px;
    color: aliceblue;
    background-color: black;
    float: left;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 20px;
}
.n__text{
    text-align: justify;
    font-size: 16px;
    margin-top: 20px;
    padding-top: 10px;
    line-height: 1.7;
}

.description__text_mini{
    font-size: 11px;
    text-align: justify;
    margin: 0;
    padding-top: 5px;
    line-height: 1.7;
}
.description__text_mini_scring{
    font-size: 13px;
    text-align: justify;
    margin: 0;
    padding-top: 5px;
    line-height: 1.7;
    letter-spacing: 0.5px;
}