@import url('https://fonts.googleapis.com/css?family=Vollkorn:700');

p{
    font-size: 14px;
}

body{
    text-align:center;  
    width: 1030px; 
    margin: 0 auto;
}
ul li{
    list-style: none;
}

.left_sentence{
    float: left;
    background-color: springgreen;
    width: 50%;
}

.right_sentence{
    float: right;
    background-color: aqua;
    width: 50%;
}

/* .section:after{
    clear: both;
} */



.clearfix{
    clear: both;
}

/*
<div class="left_sentence">
</div>

<div class="right_sentence">
</div>

<div class="clearfix"></div>

*/