@import url('https://fonts.googleapis.com/css?family=Vollkorn:700');

p{
    font-size: 14px;
}

body{
    text-align:center;
    margin: 0 auto;
    width: 100%;
}
h2{
    font-size: 35px;
    font-weight: normal;
    letter-spacing: 6px;

}
h3{
    font-size: 24px;
    font-weight: normal;
    margin: 10px;
}

h5{
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bolder;
}
h6{
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    padding: 6px 0px;
}

ul li{
    list-style: none;
}

/* リンク */
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.clearfix{
    clear: both;
}

.left__float{
    float: left;
}
.right__float{
    float: right;
}

.left_sentence{
    float: left;
    width: 50%;
    margin-top: 70px;
}
.right_sentence{
    float: right;
    width: 50%;
    margin-top: 70px;
}
.right_sentence_image{
    float: right;
    margin-top: 70px;
}

.sub_left_sentence{
    float: left;
    width: 27%;
    margin-top: 70px;
}
.sub_right_sentence{
    float: right;
    width: 27%;
    margin-top: 70px;
}
.text_width{
    width: 1030px;
    margin: 0 auto; 
}
.n_about_width{
    width: 1200px;
    padding-left:80px;
    margin: 0 auto; 
}
.globalNavi_head_top{
    background-color: #F6F6F6;
}
.globalNavi{
    float: right;
    padding: 0;
    margin: 0;
}
.globalNavi a{
    color: #676767;
    font-size: 13px;
}
.globalNavi ul{
    font-size: 13px;
    color: #676767;
    padding: 0;
    margin: 13px 0;
}
.globalNavi ul::after{
    display: block;
}
.globalNavi ul li{
    float: right;
    border-right: solid 1px #676767;
    padding: 0px 14px;
    margin: 0;
}
.globalNavi ul li.list__right_solid{
    border-right: none;
}
.globalNavi_logo{
    float: right;
    background-color: #d9d9d9;
    font-size: 13px;
    padding: 8px 8px 5px 5px;
}
.globalNavi_logo a{
    color: #000066;
    font-size: 13px;
    position:relative;
    line-height:1.9em;
    padding-left:2.3em;
}
.n_logo_img::before{
    position:absolute;
	left:0;
	content:"";
	display:inline-block;
	width:2.1em;
	height:2.1em;
	background:url("../../images/n-42.png") no-repeat;
	background-size:contain;
}

.globalNavi__01{
    padding: 0;
    margin: 0;
}
.globalNavi__01 p{
    font-size: 12px;
    margin: 0;
    color: #676767;
}
/* .globalNavi__01 p:hover{
    color:#000066;
} */
.globalNavi__01 p.font__color{
    color: #181836;
}
.globalNavi__01 li a{
    text-decoration: none;
    color: #000000;
}

.globalNavi__01 li a:hover{
    color: #181836;
}

.globalNavi__01 ul{
    padding: 0;
    margin: 0;
}

.globalNavi__01 ul li{
    border-left: solid 1px #676767;
    padding: 0px 30px;
    margin: 0;
    float: left;
    list-style-type: none;
}
.globalNavi__01 ul li:last-child{
    border-right: solid 1px #676767;
}


.globalNavi_head{
    float: left;
    padding: 12px 0;
    font-size: 13px;
}

.triangle1{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #181836;
    margin-left: 270px;
    margin-top: 20px;
  }

.globalNavi_n_about {
    background-color: #181836;
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 0px;
    font-size: 15px;
}
.globalNavi_n_about a{
    color: #ffffff;
    padding: 5px;
    margin: 0;
}
.globalNavi_n_about a:hover{
    text-decoration: none;
    color: #181836;
    background-color: #ffffff
}
.globalNavi_n_about ul li{
    float: left;
    padding: 8px 5px;
}
.globalNavi_n_about ul li::before{
    padding-right: 14px;
    content: url("../../images/n-35.png")
}
.globalNavi_n_about ul li:first-child::before{
    content: "";
}

.globalNavi_botom ul li{
    float: left;
    border-right: solid 1px rgb(3, 3, 3);
    padding: 0 14px;
}

.n_image{
    padding: 30px 0;
    float: left;
}    
.resizaimage {
    position: relative;
    margin: 0;
    padding: 0;
}
.resizaimage img{
    vertical-align: bottom;
}

.n__image{
    width: 100%;    
}

.visualtext{
    position: absolute;
    left: 480px;
    bottom: 180px;
    color: #ffffff;
    width:500px;
    padding: 15px 25px;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
.visualtext h1{
    font-size: 50px;
    line-height: 1.231;
    letter-spacing: 10px;
    margin: 0;
    font-weight: lighter;

}
.visualtext h1::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 90px;/*線の上下位置*/
    display: inline-block;
    width: 170px;/*線の長さ*/
    height: 1px;/*線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color: #ffffff;/*線の色*/
}
.visualtext p{
    margin: 40px;
}


.pankuzu{
    border-bottom: solid 1px #676767;
    width: 100%;
    padding-bottom:10px;
    padding-top: 2px;
    text-align: left;
}
.pankuzu p{
    padding-left: 200px; 

}
.main_msg{
    margin: 100px;
}
.sub__main_msg p{
    font-size: 17px;

}
.header_right_box{
    width: 380px;
    float: right;
}
.head_box{
    margin: 35px 0 10px 20px; 
}
.sns__box{
    margin-top: 45px; 
}
.box__1{
    margin: 0;
    padding: 0;
    margin-left: 15px;
}
.box__1 ul{
    margin: 0;
    padding: 0;
}
.box__1 li{
    display: inline-block;
    width: 170px;
    border: solid 1px #000066;
    margin-top: 8px;
    margin-left: 5px;
}

.box__1 li a{
    display:block;
    font-size: 16px;
    color: #000066;
    background-color: #ffffff;
    padding: 10px 15px;
    margin: 0;
  
}
.box__1 li a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color:  #000066;  
}
.box__1 li a::after{
  content: ">";
  float: right;
  /* padding: 10px; */
}

/* 教育方針 */
.main_contents{
    border-top: solid 1px;
    padding: 0;
}
.main_thema{
    text-align: left;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: solid 2px;
    width: 280px;
}
.main_thema__p{
    text-align: left;
    font-size: 26px;
    border-right: solid 1px;
    float: left;
    padding: 20px 0;
    padding-right: 20px;
    margin: 10px 0;
}
.main_thema__description{
    text-align: left;
    font-size: 22px;
    float: left;
    padding: 0;
    margin: 30px 10px;
}

/* n_standards */
.n_standards{
    padding: 30px 40px;
    background-color: #ddd;
    border: solid 1px;
    width: 620px;
    margin: 80px auto;
    display: flex;
}
.n_standards__p{
    text-align: left;
    float: left;
    letter-spacing: 0.06em;
    padding: 0px;
    padding-left: 16px;
}
.n_standards__thema{
    text-align: left;
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
}
.n_standards__text{
    text-align: justify;
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
    line-height: 1.7;
}
.n_standards__readmore{
    text-align: left;
    font-size: 18px;
    padding: 10px 0;
    margin: 0;
}

.sub_thema{
    font-size: 28px;
    text-align: left;
    margin: 10px 0;
}
/* N高の魅力 */
.n_charm__text{
    text-align: justify;
    font-size: 16px;
    margin-right: 45px;
    margin-top: 40px;
    padding-top: 10px;
    line-height: 1.7;
    border-top: solid 1px;
}
.description__text{
    font-size: 13px;
    text-align: left;
    margin: 0;
    padding-top: 5px;
}

/* 高卒資格取得のためのBasic Program */
.main_contents_basic{
    background-color: #F6F6F6;
    padding-top: 30px;
    margin-top: 110px;
}   
.basic_text{
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
}
.basic_program{
    font-size: 11px;
    color: aliceblue;
    background-color: black;
    float: left;
    padding: 8px 10px;
    margin-top: 0;
    margin-bottom: 20px;
}
.n__text{
    text-align: justify;
    font-size: 16px;
    margin-top: 20px;
    padding-top: 10px;
    line-height: 1.7;
}

.description__text_mini{
    font-size: 11px;
    text-align: justify;
    margin: 0;
    padding-top: 5px;
    line-height: 1.7;
}
.description__text_mini_scring{
    font-size: 13px;
    text-align: justify;
    margin: 0;
    padding-top: 5px;
    line-height: 1.7;
    letter-spacing: 0.5px;
}

/* N高生からのメッセージ */
.all_msg{
    background-color: #F6F6F6;
    margin: 40px 0;
    padding: 40px 0;  
}
.basic_width{
    /* width: 1030px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.msg_box{
    width: 29%;
    text-align: left;
    padding: 10px 28px;
    margin: 20px 40px; 
    border: solid 1px #000000;
    background-color: #ffffff;
    line-height: 150%;
}
.msg_box::after{
    content: ">";
    display: flex;
}
.msg_box p{
    padding: 5px 0 0;
    margin: 0; 
    line-height: 150%;
}

.msg_box__main{
    font-size: 26px;
    padding: 0;
    margin: 0;
}

.youtuve{
   float: left;
   margin: 25px 5px 150px 0px;
}
.youtuve p{
    margin: 0;
    padding: 0;
 }

 .detail_nav{
    padding: 20px;
    background-image: url("../../images/n-36.png")
 }
 .detail_nav p{
   color: #ffffff;
   font-size: 19px;
 }
 .detail_width{
     width: 900px;
 }
 .footer_nav{
    width: 20%;
    float: left;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    text-align: left;
    line-height: 180%;
}
.footer_nav a{
    color: #272727;      
}
.footer_nav b{
    font-size: 16px;
}
 .footer_nav ul{
    margin: 0;
    padding: 0;
    margin-right: 30px;
}
.footer_nav .etc_navi{
    margin-top: 12px;
    padding-top: 12px;
    border-top: solid 1px #000000;
}
.footer_nav__orgin{
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 180%;
}
.footer_nav__orgin a{
    color: #272727;      
}
.footer_nav__orgin b{
    font-size: 16px;
}
.footer_nav__orgin ul{
    margin: 0;
    margin-top: 7px;
    padding: 0;
    margin-right: 30px;
}
.ruby{
    color: #272727;     
    font-size: 10px;
    margin: 0;
    padding: 0;
    line-height: 120%;
}

.main_footer_nav{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 14px;
    padding-bottom: 40px;
    border-bottom: solid 1px #000000;
}
.footer_min_title{
    color: #181836;
    font-size: 14px;
}

.sub_nav p{
    float: left;
    padding-right: 10px;

}
.sub_nav a{
    color: #000000;
}
.sns_box{
    float: right;
    text-align: left;
    border-right: solid 1px #000000;
    margin: 5px;
}
.sns_box_last{
    float: right;
    text-align: left;
    border-right: solid 0px;
    margin: 5px;
}
.sns_box p{
    padding: 5px 20px 5px 5px;
    margin: 0;
}
.sns_box img{
    padding-top: 5px;
    margin: 0;
}
.sns_box_last p{
    padding: 5px 20px 5px 5px;
    margin: 0;
}
.sns_box_last img{
    padding-top: 5px;
    margin: 0;
}
.sns_left_sentence{
    float: left;
}
.sns_left_sentence img{
 width: 28px
}
.sns_right_sentence{
    float: right;

}
.sub_footer_nav{
    background-color: #000000;
    margin-top: 20px;

}
.sub_footer_nav p{
    color: #F6F6F6;
    font-size: 10px;
    padding: 10px 0;

}
.sub_footer_nav a{
    color: #F6F6F6;
}